.border-white {
    border: 2px solid white;
  }
  
  
  .text-blue {
    color: paleturquoise;
  }
  
  .btn-blue {
    background-color: paleturquoise;
  }
  
  input.list-check {
    width: 25px;
    height: 25px;
  }

  .donetodo {
    color: greenyellow;
    text-decoration: line-through;
  }

  .donetodo:hover {
    color: crimson;
    text-decoration: none;
  }

  .notdone {
    color: crimson;
  }

  

  .notdone:hover {
    color: greenyellow;
    text-decoration: line-through;
  }


  .hover-link{
    opacity: 0.5;
  }

  .hover-link:hover{
    opacity: 1;
  }

  .errors {
    color: crimson;
  }